{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1 style="border-bottom: unset"> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>goodhabits</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>森本 啓照</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>北海道札幌市中央区南8条西21丁目1-8</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>070-9054-7895　<br>
                            ※電話によるお問い合わせは受け付けておりません。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@share-departmentshop.com">info@share-departmentshop.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://share-departmentshop.com">https://share-departmentshop.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>なし</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>サイト内で表示される方法によるお支払いの手続きが完了後、ダウンロード可能です。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>
                            支払い方法は各サービス内に表示する方法となります。<br>
                            決済会社のPayPalを通してのクレジットカード・銀行引き落とし、クレジットカード（簡易）でのお支払いとなります。（JCB・VISA・MASTERCARD・DINERS・DISCOVER）なお、ご利用料金は契約締結時にご利用のクレジットカード会社宛に請求いたします。<br>
                            なお、お客様のお支払いの時期は、お客様とクレジットカード会社との会員規約に基づきます。<br>
                        </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">支払い時期</label>
                        </dt>
                        <dd>
                            クレジットカード：各カード会社引き落とし日になります。</dd>
                       </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">販売価格</label>
                        </dt>
                        <dd>各販売者の商品ページに記載された金額になります。（税込）</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品について</label>
                        </dt>
                        <dd>
                            販売者と購入者との間でキャンセル・返品・返金の合意があった場合のみ可能です。
                        </dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">販売者の連絡先開示希望について</label>
                        </dt>
                        <dd>
                            販売者の氏名・住所・電話番号の開示を希望の場合、「お問い合わせ」よりご連絡ください。販売者開示申請書をお送りします。なお、特定商取引法上の販売事業者に該当しない場合は、開示しない場合がございますので予めご了承ください。    
                           
                </div>
            </div>
        </div>
    </div>
{% endblock %}