{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <style>
        #faq {
            padding: 20px;
        }
        #faq h3 {
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            font-size: 30px;
            margin-bottom: 30px;
        }
        #faq .sub-title {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 35px;
        }
        p {
            line-height: 28px;
        }
    </style>
{% endblock %}

{% block main %}
<div id="faq">

  <h3>よくある質問</h3>
  <br/>
  <p class="sub-title">1.コンテンツ販売、アフィリエイト報酬の支払いはいつですか？</p>
  <p>
    販売者、アフィリエイター様への報酬振込日は、毎月1日・16日（2回）となります。<br/>なお、振込日が土・日曜日、祝日の場合は翌営業日の振込となります。</p>※PayPalの決済締めの関係で、集計日数が変更となる場合がございます。</p>
  </p><br/>
  
  <p class="sub-title">2.利用手数料はいくらですか？</p>
  <p>
    Share!は、販売価格の20%をコンテンツ販売者様より利用手数料としていただきます。<br/>
    （例）販売者が、10,000円でコンテンツを販売した場合<br/>
    ①Share!販売サイトで直接売れた場合<br/>
    ・Share!システム手数料2,000円<br/>
    ・販売者利益8,000円<br/>
    ②アフィリエイト報酬を50%に設定して売れた場合<br/>
    ・アフィリエイト料5,000円(アフィリエイト報酬率が50%)<br/>
    ・Share!システム利用料2,000円<br/>
    ・販売者利益3,000円<br/>
  </p><br/>
  
  <p class="sub-title">3.決済方法は何ですか？</p>
  <p>
    現在、決済会社のPayPalを通してのクレジットカード・銀行引き落とし、クレジットカード（簡易）でのお支払いとなります。（JCB・VISA・MASTERCARD・DINERS・DISCOVER）
<br/>
  </p><br/>
  
  <p class="sub-title">4.売上の受取口座はどこで登録しますか？</p>
  <p>
売上の受け取りにはPayPalのアカウント作成が必要です。以下の手順で進めてください。<br/>

①下記PayPalにアクセスし、アカウント作成<br/>
https://www.paypal.com/jp/webapps/mpp/personal/how-to-signup-personal<br/>
②Share!にログイン<br/>
③自分のアカウントアイコンをクリック<br/>
④「会員情報を編集」内のPayPalメールにPayPalで登録したメールアドレスを入力<br/>
⑤画面下部の登録をクリック（完了）<br/>

※すでにPayPalアカウントをお持ちの方は、登録メールアドレスを入力してください。（※④）<br/>
※報酬支払い日の15日前までに登録完了していない場合は、報酬の支払いが次回へ繰り越しとなりますのでご注意ください。<br/>
  </p><br/>
  <p class="sub-title">5.複数アカウントは作成可能ですか？</p>
  <p>
    複数アカウントの作成はご遠慮ください。複数アカウント作成が発覚した場合は、アカウント停止措置等をとらせていただきます。
  </p><br/>
  
  <p class="sub-title">6.購入者に、ファイルなどを提供することはできますか？</p>
  <p>購入者様のみ閲覧可能なマニュアル欄に、PDFファイル等のリンクを設置すれば可能です。</p><br/>
  
  <p class="sub-title">7.購入者の連絡先を教えてもらえますか？</p>
  <p>個人情報保護の観点から、購入者様の連絡先をお教えすることはできません。</p><br/>
  
  <p class="sub-title">8.記事の内容に関して質問があるのですが？</p>
  <p>販売者様のSNS等から、直接ご連絡をお願いいたします。</p><br/>
  
  <p class="sub-title">9.禁止ジャンルはありますか？</p>
  <p>
  下記のジャンルに該当するコンテンツは、内容を十分確認の上、記事を作成してください。<br/>
  ・ギャンブル<br/>
  ・アダルト<br/>
  ・その他、当社が不適切と判断したコンテンツ<br/>
  </p>
</div>
{% endblock %}