{% extends 'default_frame.twig' %}

{% set baseInfoRepository = repository('\\Eccube\\Entity\\BaseInfo') %}
{% set shopFee = baseInfoRepository.get().fee|number_format %}

{% block stylesheet %}
    <style>
        .user-data-page {
            padding: 20px;
        }
        .user-data-page h3 {
            font-weight: bold;
            text-align: center;
            line-height: 35px;
            font-size: 30px;
            margin-bottom: 30px;
        }
        .user-data-page .sub-title {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 35px;
        }
        .user-data-page p {
            line-height: 28px;
        }
        @media only screen and ( min-width: 768px ) {
          .sp-only {
            display: none;
          }
        }
        @media only screen and ( max-width: 767px ) {
          .sp-only {
            display: block;
          }
        }
    </style>
{% endblock %}

{% block main %}
<div class="user-data-page">
    <h3>販売者利用規約</h3>
    <br />
    <br />
    <p>本規約は、当社が運営する、本サービスの販売者用の利用条件を定めるものです。</p>
    <br />

    <p class="sub-title">1.定義</p>
    <p>
        本規約における用語について、次の通り定義します。 <br />
        1.1.「本規約」この利用規約 <br />
        1.2.「当社」goodhabits <br />
        1.3.「本サービス」第3条で定めるサービス <br />
        1.4.「本サイト」URL http://share-departmentshop.com <br />
        1.5.「利用者」本サービス及び本サイトの利用者 <br />
        1.6.「登録者」本サービスにおいて販売者、購入者、またはアフィリエイターとして登録した利用者 <br />
        1.7.「販売者」当社との間で本サービスに関して、別に定める販売者利用規約に同意した登録者のうち、本サービスを利用し、商品やサービスの販売等、電子商取引を行う登録者 <br />
        1.8.「購入者」 当社との間で本サービスに関して、本規約に同意した登録者のうち、本サービスを利用し、商品やサービスの購入を行う登録者 <br />
        1.9.「アフィリエイター」当社との間で本サービスに関して、別に定める紹介者利用規約に同意した登録者のうち、本サービスを利用し、販売者が登録した商品やサービスの紹介を行う登録者 <br />
        1.10.「商品等」本サービスにおいて販売または紹介される商品、サービス等 <br />
        1.11.「反社会的勢力」暴力団・暴力団員・暴力団員でなくなったときから10年を経過しない者、暴力団準構成員、その他これらに準ずる者 <br />
        1.12.「知的財産権等」特許権、商標権等の産業財産権、著作権(著作権法第27条及び第28条に規定されている権利を含む)等の知的財産権、その他の権利 <br />
        1.13.「機器等」機器、通信回線ソフトウェアその他一切の手段 <br />
        1.14.「機密情報」個人情報、顧客情報、企業情報、その他すべての情報 <br />
    </p>

    <p class="sub-title">2.この利用規約について</p>
    <p>
        2.1.本規約は、本サービスをご利用いただく販売者全員に適用されます。 <br />
        2.2.販売者は、本規約への同意がない場合には、本サイトおよび本サービスをご利用いただくことはできません。 <br />
        2.3.本サービスの販売者は、個人・法人を問わず、登録の申込時点又は本サービス利用時点で、本規約に同意したものとみなします。 <br />
        2.4.本規約の内容は、必要に応じて変更することがあり、変更内容はメール、本サイトへの掲載、その他の方法で通知します。変更された場合は、変更後に利用する段階で変更内容に承諾したものとみなし、最新の規約が適用されますので、ご利用の際は最新の利用規約をご覧ください。
        <br />
        2.5.本サービスには、本規約の他に、本サイトに本サービスの利用方法やご注意いただくべき事項が表示されています。これらも実質的には本規約の一部をなすものとします。 <br />
        2.6.本サービスご利用前には本規約を必ずお読みください。 <br />
    </p>

    <p class="sub-title">3.本サービス内容</p>
    <p>
        3.1.本サービスは、販売者が商品等を販売し、購入者がそれを購入し、購入者がアフィリエイターとして当該商品等を紹介することで、商品等の販売を発展させていくものです。 <br />
        3.2.アフィリエイターは、紹介により商品等の販売がされると報酬が支払われます。 <br />
        3.3.本サービスにおいて、販売者には利用料金が発生しますが、購入者及びアフィリエイターには利用料金は発生しません。 <br />
        3.4.当社は、本サービスにおいて、販売者、購入者およびアフィリエイターのマッチングを図ることを行うものであり、商品等の売買に関する売主、買主、紹介に関する委託者、受託者の地位に立つものではありません。 <br />
        3.5.販売者は、当社に対する本サービスの利用料金およびアフィリエイターへの報酬の支払いを行うために、購入者が販売者に支払う代金を受領する権限を、当社に授与するものとします。 <br />
        3.6.アフィリエイターは、販売者のアフィリエイターへの報酬の支払いを行うために、購入者が販売者に支払う代金を受領する権限を、当社に授与するものとします。 <br />
    </p>

    <p class="sub-title">4.登録</p>
    <p>
        4.1.利用者は、販売者として本サービスを利用する場合は、利用開始にあたって、販売者本人の申請により販売者登録することが必要です。 <br />
        4.2.利用者は、販売者もしくはアフィリエイターとして本サービスを利用する場合は、本人確認証書類として運転免許証、健康保険証、パスポートのいずれかを提出する必要があります。 <br />
        4.3.登録申請は、当社が定める方法により、ID、パスワード、氏名、名称、メールアドレス等を通知し、決済会社の決済サービスを利用できる状態にすることにより行います。虚偽の申請は認められません。 <br />
        4.4.登録申請が認められた時点で、販売者と当社との間に、本規約を内容とする本サービスの利用契約が成立するものとします。 <br />
        4.5.販売者は、登録した内容に変更があった場合、当社が定める方法により販売者情報の変更を行わなければなりません。変更しないことにより、販売者に不利益が生じても当社は責任を負いません。 <br />
        4.6.当社は、販売者が次のいずれかに該当すると判断した場合は、登録を取消すことがあります。 <br />
        (1)当社の定める登録審査基準を満たさない場合 <br />
        (2)未成年、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていない場合 <br />
        (3)登録申請の内容に虚偽があった場合 <br />
        (4)過去に本規約に違反したことがある場合 <br />
        (5)その他当社が登録を承認することが適切でないと判断した場合 <br />
        (6)当社は、前項の行為を行った場合に、その理由を販売者に開示する義務を負いません。 <br />
    </p>

    <p class="sub-title">5.パスワード等の管理</p>
    <p>
        5.1.販売者は、ID及びパスワードを、第三者に漏洩しないよう、自己の責任において厳重に管理してください。 <br />
        5.2.IDおよびパスワードを利用して行われた行為の責任は、そのIDを保有している販売者の責任とみなし、当社は一切の責任を負わないものとします。 <br />
        5.3.万一、許可無く自分のIDが利用された場合、またはIDならびにパスワードが第三者に漏洩してしまった場合は、ただちに当社までご連絡ください。 <br />
    </p>

    <p class="sub-title">6.利用方法</p>
    <p>
        6.1.販売者は、本サービスを本規約に従い、民法、商法、個人情報保護法、著作権法その他法令を遵守して利用してください。 <br />
        6.2.販売者は、決済を決済会社により行うため、決済会社の禁止業種<br class="sp-only" />
        に該当する商品等は、販売することはできません。 <br />
        6.3.販売者は、本サービスを利用したことに関する一切の責任を負います。当社は販売者の利用につき特に定める場合を除き、一切の責任を負いません。 <br />
        6.4.商品等の売買条件及びアフィリエイターとの間の報酬については、購入者又はアフィリエイターと直接協議の上で定めてください。なお、協議で決定した事項については、正確に当社に報告する義務を負うものとします。 <br />
    </p>

    <p class="sub-title">7.利用料金</p>
    <p>
        7.1.販売者は、本サービスを利用して商品等を販売した場合は、本サービス利用料金として、次の利用料金をお支払いいただきます。 <br />
        (1)アフィリエイターを利用しない販売売買代金の17%(税込) <br />
        (2)アフィリエイターを利用した販売売買代金の17%(税込) <br />
        7.2.利用料金は当社に対して、購入者から支払われた代金から差し引く形で支払ってもらうものとします。 <br />
    </p>

    <p class="sub-title">8.決済</p>
    <p>
        8.1.販売者は、決済会社の利用にあたり、次の事項を承諾するものとします。 <br />
        (1)金融機関登録時又は商品等販売時に販売者用の決済会社アカウントが生成されること。 <br />
        (2)当社は販売者のクレジットカード情報を保持せず、クレジットカード情報をはじめとする各種登録情報は決済会社側で暗号化されて保存されること。 <br />
        (3)決済会社の定める規約に従うこと。 <br />
        8.2.販売者は、購入者に対して商品等を販売する場合は、代金受領権限を当社に授与するものとし、当社が代理して決済会社の決済サービスを利用して代金の支払いを受けます。具体的には、購入者は、当社の販売者用の決済会社に登録、クレジットカード（簡易）等で代金を支払います。その他の方法は当社が認めた場合を除き、認められません。
        <br />
        8.3.販売者は、購入者に対して商品等を販売する場合でアフィリエイターを利用する場合は、
        前項に加えて、アフィリエイターへの報酬を支払う権限を当社に授与するものとし、当社が代理して決済会社の決済サービスを利用してアフィリエイターに対して報酬の支払いを行います。具体的には、アフィリエイターが当社に出金申請を行った場合に、当社の販売者用の決済会社からアフィリエイターの指定の金融機関に支払われます。その他の方法は当社が認めた場合を除き、認められません。
        <br />
        8.4.当社は、販売者を代理して代金の支払いを受けた上で、利用料金及び発生する場合はアフィリエイターに対する報酬を減額した残額を決済会社の決済サービスを利用して販売者に支払います。 <br />
        8.5.報酬の支払いは、当社指定日に指定の金融機関に支払われます。具体的には、毎月1日・16日（前日集計日）に指定の金融機関に支払われます。なお決済会社の決済締めの関係で集計日数が変更となる場合もございます。 <br />
        8.6.報酬振込みにおいて、振込日が土日・祝日の場合は翌営業日に支払われます。また、報酬支払い集計日の30日前までに登録完了していない場合は、報酬の支払いが繰り越しとなります。 <br />
        8.7.決済会社のシステムにおいて生じた損害および決済会社アカウントの停止等によって生じた損害については、当社は一切の責任を負わないものとします。 <br />
    </p>

    <p class="sub-title">9.キャンセル・返品・返金</p>
    <p>
        9.1.本サービスにおいて、原則としてキャンセル・返品・返金はできないものとします。 <br />
        9.2.前項の定めにかかわらず、商品等の販売当事者間又は販売者とアフィリエイターとの間で次の事項について同意できた場合に、キャンセル・返品・返金を認める場合があります。 <br />
        (1)キャンセル・返品・返金自体の合意 <br />
        (2)当社に支払った本サービス利用料、手数料、その他金銭の返還がないことの確認 <br />
        (3)キャンセル・返品・返金自体にかかる費用の負担者についての合意 <br />
        (4)その他当社が指定する事項 <br />
        9.3.登録者は、本条の定めに関わらず、当社の承諾を得た上で、本サービス外でキャンセル・返品・返金について協議の上で解決を図ることはできるものとします。 <br />
        9.4.登録者は、キャンセル・返品・返金を行う場合は、当社を介さずに、合意してから1ヶ月以内に返品先、振込先などについて登録者同士が連絡をとりあって、キャンセル・返品・返金を行うものとします。なお、返金については決済会社を利用せず、銀行振込により行うものとします。
        <br />
    </p>

    <p class="sub-title">10.禁止事項等</p>
    <p>
        10.1.販売者は、以下の各号の行為は禁止されます。<br />
        (1)本規約に違反する行為 <br />
        (2)法令に違反する行為又は違反するおそれのある行為 <br />
        (3)第三者の権利を侵害又は侵害を助長する行為 <br />
        (4)本サービス、またはサーバーに対する妨害と当社が判断する行為 <br />
        (5)公序良俗に反する行為 <br />
        (6)反社会的勢力に関与する販売者の利用行為 <br />
        (7)その他当社が不適切と判断する行為 <br />
        10.2.当社は、販売者に前項に定める禁止行為が見受けられた場合、または当社が当該禁止事項に該当すると判断した場合には、当社の裁量において販売者に対しての本サービスの提供を停止・中止、登録の抹消、当社サーバー内のデータ削除等することができるものとします。これによる販売者の損害について、当社は一切の責任を負わないものとします。
        <br />
    </p>

    <p class="sub-title">11.販売者の責任</p>
    <p>
        11.1.販売者は、本サービスの利用に関し一切の責任を負うものとし、本サービスの利用が、第三者の知的財産権等の侵害を行っていないことを当社に保証するものとします。 <br />
        11.2.前項の定めに関わらず、販売者の本サービス利用に関して問題が発生した場合は、自己の費用と責任に於いてかかる問題を解決するものとし、当社は一切の責任を負わないものとします。 <br />
        11.3.販売者は、自己の責任で本サービスの利用に関するデータのバックアップを取得しなければいけません。当社は、バックアップ未取得によるデータの喪失による責任を負いません。 <br />
        11.4.販売者が、本サービスの利用によって当社に対して損害を与えたときは、当該損害(弁護士費用を含みます。)を賠償するものとします。 <br />
        11.5.販売者が、本サービスを利用することにより、第三者に対し損害を与えた場合、販売者は自己の費用と責任においてこれを賠償するものとし、当社は一切その責任を負わないものとします。この場合において、当社が、第三者から損害賠償請求を受けたときは、販売者は、当社に対し、その損害額及び費用(弁護士費用を含みます。)を賠償するものとします。
        <br />
        11.6.本サービスの利用には、インターネットに接続する必要があります。販売者は、自己の費用と責任において、本サービスを利用するために必要となる機器等を用意するものとします。 <br />
        11.7.当社は、前項に定める機器等の準備、設置、操作に関し、一切保証または関与せず、販売者に対するサポートも行いません。また、当社は、本サービスがあらゆる機器等に適合することを保証するものではありません。 <br />
        11.8.販売者は、本サービスを利用する過程で、種々のネットワークや機器を経由することがあることを理解し、接続しているネットワークや機器の種類等によっては、それらに接続したり、それらを通過するために、データや信号等の内容が変更される可能性があることを理解した上で、本サービスを利用するものとします。
        <br />
    </p>

    <p class="sub-title">12.免責</p>
    <p>
        12.1.当社は、本サービスの利用により販売者に特定の効果が生じることを保証するものではありません。 <br />
        12.2.当社は、本サービスの内容について、充分に注意を払いますが、その正確性・完全性・最新性・有用性等に関して、いかなる保証をするものではありません。本サービスの利用については、販売者の自主的な判断によるものとします。
        <br />
        12.3.当社は、本サイトで作成したデータの保存、本サイトへのアクセス、本サイト利用によりウィルス等の影響を受けないことについて保証しません。販売者は自己責任で本サイトをご利用ください。 <br />
        12.4.当社は、本サービスに関して販売者相互、販売者と第三者との間に生じた問題については一切の責任を負いません。 <br />
        12.5.当社は、天災地変等当社の責に帰さない事由により生じた損害、当社の予見の有無を問わず、特別の事情から生じた損害、逸失利益を含む間接損害について賠償責任を負わないものとし ます。 <br />
        12.6.当社は、登録者に対し、次に掲げる損害及びそれに付随する2次的なデータの漏洩、損失等の損害について責任を負わないものとします。 <br />
        (1)当社が提供していないプログラムによって生じる損害。 <br />
        (2)当社以外の第三者による不正な行為によって生じる損害。 <br />
        (3)ハッカーおよびクラッカーによるサーバーへの侵入または攻撃等の行為による損害。 <br />
        (4)当社が本サービスのために用いるサーバーにおいて生じた事情により生じる損害。 <br />
        (5)本サービスのバグや障害によって生じる損害。決済システムの決済会社側のバグや障害によって生じる損害。 <br />
        12.7.当社は、本サービスに登録者がアップロードするデータ・情報に関しては、一切責任を負わないものとします。本サービスにアップロードするデータ・情報の正確性や当該情報をアップデートする責任は、全て登録者にあります。 <br />
        12.8.当社は、本サイトでの広告の表示・掲載を、第三者について行う場合があります。登録者が、本サイトでの広告を通じて第三者から商品・サービスを購入する等、第三者と何らかの契約をされる場合、当該契約の当事者は登録者と第三者であり、当社はいかなる責任も負いません。
        <br />
        12.9.本規約が消費者契約法(平成12年法律第61号)第2条第3項の消費者契約に該当する場合には、本規約のうち、当社の損害賠償責任を完全に免責する規定は適用されないものとします。 <br />
    </p>

    <p class="sub-title">13.知的財産権等</p>
    <p>
        本サイト及び本サービスに関する知的財産権等は、当社または正当な権利を有する第三者に帰属します。販売者は、他の販売者、当社、その他第三者の権利侵害をすることのないよう利用方法を守って本サービスを利用してください。
    </p>

    <p class="sub-title">14.サービスの中断・停止、内容の変更、終了</p>
    <p>
        14.1.当社は、本サービスの運営上必要な設備の設置、システムの保守作業、又は天災等の不可抗力のために必要であると判断した場合、販売者への事前の通知または承諾を要せずして、一時的に本サービスを中断・停止できるものとします。
        <br />
        14.2.当社は、販売者に事前通知をした上で当社の判断により本サービスの一部または全てについて内容の変更又は終了できるものとします。 <br />
        14.3.前2項の場合に販売者に生じた損害について、当社は責めを負わないものとします。ただし、全てのサービスを永続的に終了させた場合は、終了後の本サービスについて料金の支払いを受けている場合は、料金を返還します。 <br />
    </p>

    <p class="sub-title">15.登録の抹消</p>
    <p>
        15.1.販売者は、登録を抹消する場合は、当社所定の方法により届出を行わなければなりません。 <br />
        15.2.当社は、登録抹消の理由を問わず、支払われた料金の払い戻しは行いません。 <br />
        15.3.当社は、販売者に次の各号のいずれかに該当する事由が生じた場合には、何らの催告なしに直ちに登録を抹消することができるものとします。 <br />
        (1)登録内容に虚偽があったなど登録申請段階において登録を承認すべきでない事情があったことが判明した場合 <br />
        (2)重大な過失又は背信行為があった場合 <br />
        (3)支払いの停止があった場合、又は仮差押、差押、競売、破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始の申立があった場合 <br />
        (4)手形交換所の取引停止処分を受けた場合 <br />
        (5)公租公課の滞納処分を受けた場合 <br />
        (6)その他前各号に準ずるような本規約又は個別契約を継続し難い重大な事由が発生した場合 <br />
        15.4.当社は、販売者が前項各号にあたらない本規約のいずれかの条項に違反し、相当期間を定めてなした催告後も、販売者の債務不履行が是正されない場合は、登録を抹消することができるものとします。 <br />
        15.5.登録抹消後、再度登録を希望する際は、再度登録手続を行う必要があります。販売者は再度の登録手続後、従前のデータが引き継がれないことを予め承諾するものとします。 <br />
    </p>

    <p class="sub-title">16.秘密保持</p>
    <p>
        当社及び販売者は、本サービスの利用に関して相手方から開示または提供された機密情報を善良なる管理者の注意をもって取扱い、事前に書面により相手方の同意を得ることなく、本サービス
        の目的以外に使用し、または第三者に開示又は提供してはならないものとします。 <br />
    </p>

    <p class="sub-title">17.販売者に関する情報の収集、解析及び取扱い</p>
    <p>
        17.1.当社は、個人が特定されない形式で、登録情報、端末情報、その他販売者に関する情報を、当社が行う情報配信、統計、その他のサービスに活用しまたは第三者に提供するため、利用する場合があります。 <br />
        17.2.当社は、本サービスの利用状況を把握するため、Cookieなどの情報収集モジュールを利用して、本サービスの利用情報を収集します。これら情報収集モジュールについては、各提供者の利用規約及びプライバシーポリシー等をご参照ください。
        <br />
        17.3.当社は、Cookieなどの情報収集モジュール利用により生じた損害については責任を負わないものとします。 <br />
        17.4.当社は、本サービスのご利用に当たってご提供いただいた個人情報を暗号化した上で保存します。クレジットカードおよび銀行口座情報に関しては、当社サーバには保存せず、暗号化された上でStripeのサーバにて保存されます。
        <br />
    </p>

    <p class="sub-title">18.反社会的勢力の排除</p>
    <p>
        18.1.当社及び販売者は、現在及び将来にわたり、次の各号のいずれにも該当しないことを表明し保証するものとします。 <br />
        (1)反社会的勢力に該当すること <br />
        (2)反社会的勢力が経営を支配していると認められる関係を有すること <br />
        (3)反社会的勢力が経営に実質的に関与していると認められる関係を有すること <br />
        (4)自己若しくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること <br />
        (5)反社会的勢力に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること <br />
        (6)役員または経営に実質的に関与している者が、反社会的勢力と社会的に非難されるべき関係を有すること <br />
        (7)自己または第三者をして暴力的要求、脅迫的言動、法的責任を超えた不当な要求、風説の流布・偽計・威力等による他人の信用毀損・業務妨害を行うこと <br />
        18.2.
        当社または販売者は、相手方が前項の表明・保証に違反して、前項各号の一にでも該当することが判明したときは、何らの催告をせず、本サービスの提供の停止、および直ちに本サービスに関するすべての契約を解除することができるとともに、被った損害の賠償を請求することができるものとします。
        <br />
    </p>

    <p class="sub-title">19.権利及び地位の譲渡等</p>
    <p>
        販売者は、本サービスに関する一切の権利、義務および地位を当社の承諾なしに、譲渡、転貸、担保差入その他形態を問わず処分することはできないものとします。なお、当社は、事前に告知を行うことで、本サービスに関する事業を譲渡することができるものとします。譲渡に同意できない販売者は、当社に通知の上で本サービスの登録を抹消することができます。登録が抹消されれば販売者の情報は譲渡先には通知されません。
        <br />
    </p>

    <p class="sub-title">20.分離可能性</p>
    <p>
        本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定および一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
        <br />
    </p>

    <p class="sub-title">21.協議解決</p>
    <p>当社および販売者は、本規約に定めのない事項または本規約の解釈に疑義が生じた場合、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。 <br /></p>

    <p class="sub-title">22.管轄裁判所</p>
    <p>当社と販売者との間における訴訟は、当社指定の地方裁判所又は簡易裁判所を第一審の専属的合意管轄裁判所とします。 <br /></p>

    <p class="sub-title">23.準拠法</p>
    <p>
        本規約の解釈は日本国の法律に準拠するものとします。 <br />
        規約初版制定 令和5年3月1日<br />
    </p>
</div>
{% endblock %}