<div class="ec-shelfRole cs-side">
    <p class="title">新着記事</p>
    {% for Blog in NewBlogs %}
        <a href="{{ url('product_detail', {'id': Blog.id}) }}" class="cs-side-blog">
            <img src="{{ asset(Blog.mainFileName|no_image_product, "save_image") }}">
        </a>
    {% endfor %}
</div>