{#
 * This file is part of the Recommend Product plugin
 *
 * Copyright (C) EC-CUBE CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}
{% set recommend_products = repository('Plugin\\Recommend4\\Entity\\RecommendProduct').getRecommendProduct %}

<!-- ▼item_list▼ -->
<div class="ec-shelfRole cs-side">
    <p class="title">おすすめ記事</p>
    {% for RecommendProduct in recommend_products %}
        {% set Blog = RecommendProduct.Product %}
        <a href="{{ url('product_detail', {'id': Blog.id}) }}" class="cs-side-blog">
            <img src="{{ asset(blog_image(Blog, 'middle'), "save_image") }}" alt="{{ Blog.name }}" loading="lazy">
        </a>
    {% endfor %}
</div>
<!-- ▲item_list▲ -->
