/* カスタマイズ用CSS */

a:hover img {
    opacity: .85;
}

/* カスタマイズ用CSS */

.ec-categoryNaviRole {
    margin-bottom: 30px;
}
.ec-categoryNaviRole .ec-itemNav__nav li .cs-global__category {
    margin: 5px 10px;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 0 10px aliceblue;
    background: aliceblue;
}
.ec-categoryNaviRole .ec-itemNav__nav li .cs-global__category:hover {
    box-shadow: 0 0 10px #ddd;
    background: white;
}

.ec-headerNav__item .image.profile {
    width: 44px;
}
.ec-headerNav__item .image.profile img {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 0 15px aliceblue;
    object-fit: cover;
}

.ec-headerNav__item .image.edit img {
    height: 36px;
    width: auto;
    box-shadow: 0 0 15px aliceblue;
}

.ec-headerTitle .ec-headerTitle__title {
    display: flex;
    justify-content: center;
}
.ec-headerTitle .ec-headerTitle__title a {
    display: flex;
    align-items: center;
    font-size: 19px;
}
.ec-headerTitle .ec-headerTitle__title span {
    margin-top: 15px;
}

.ec-headerTitle__title .image {
    width: 250px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ec-shelfRole.cs-side {
    margin: 50px auto;
}

.cs-side .title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.cs-side .title.news {
    display: block;
}

.cs-side .title.news:hover {
    color: red;
}

.cs-side-blog {
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 0 15px #ddd;
}

.cs-side-blog img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.image img {
    width: 100%;
}

.cs-contentRole {
    padding: 0 15px;
}

.benchmark {
    margin: 35px auto 15px;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 28px;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    text-align: center;
}

/* start blog style */

.blog {
    width: 350px;
    margin: 35px auto;
    border-radius: 6px;
    display: block;
    box-shadow: 0 0 15px #ddd;
    color: black;
    position: relative;
}

.blog:hover {
    text-decoration: none;
    color: #a98217;
}

.blog .image.photo img {
    width: 100%;
    height: 185px;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 6px;
}

.blog .rank-icon {
    width: 40px;
    max-width: 40px;
    position: absolute;
    top: 90px;
    left: -15px;
    transform: translate(-100%, -50%);
}
.blog .rank-icon img {
    width: 100%;
}

.blog .title {
    margin-bottom: 10px;
    height: 108px;
    padding: 14px 8px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.blog .editor-name {
    font-weight: bold;
}

.blog .badges {
    padding: 0 8px 12px 8px;
    font-size: 13px;
}

.blog .badges .affiliate .label {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

.blog .badges .label {
    margin: 4px 3px 4px 6px;
    padding: 3px;
    background-color: aliceblue;
    display: inline-block;
    font-size: 100%;
    color: black;
    padding: 5px;
}
.blog .badges .label.launch-date {
    background-color: antiquewhite;
}

.blog .badges .label.stock.sold-out {
    background-color: darkgrey;
}

.blog .badges .image.profile {
    width: 44px;
}

.blog .badges .image.profile img {
    width: 100%;
    height: 44px;
    object-fit: cover;
    border-radius: 22px;
    box-shadow: 0 0 15px #ddd;
    border: 1px solid #ddd;
}

/* end blog style */

/* start blog detail */

.ec-productRole {
    color: black;
}
.ec-productRole .image.top {
    margin: 50px auto;
}

.ec-productRole .image.top img {
    width: 100%;
    height: 465px;
    object-fit: contain;
}

.ec-productRole .ec-productRole__title {
    margin-bottom: 30px;
}

.ec-productRole .ec-productRole__utils {
    margin: 30px auto;
    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    padding: 25px 0;
    font-size: 13px;
}

.ec-productRole .ec-productRole__utils .image.profile {
    width: 60px;
}

.ec-productRole .ec-productRole__utils .image.profile img {
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0 0 15px #ddd;
    border: 1px solid #ddd;
}

.ec-productRole .ec-productRole__utils .label {
    margin-right: 4px;
    padding: 10px;
    background-color: aliceblue;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.ec-productRole .ec-productRole__utils .ec-inlineBtn--action {
    width: 150px;
    border-radius: 4px;
}

.ec-productRole .ec-productRole__utils .review-layoutRole.product_detail {
    width: unset;
    margin-left: 15px;
}

.ec-productRole .ec-productRole__utils .ec-productRole__actions {
    display: none;
}

.ec-productRole .ec-productRole__utils .ec-productRole__btn {
    width: unset;
    min-width: unset;
    margin-bottom: 0;
}

.ec-productRole .ec-productRole__utils .ec-productRole__btn .ec-blockBtn--action {
    width: 220px;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
}

.ec-productRole .ec-productRole__utils .editor-name {
    font-weight: bold;
}

.ec-productRole .ec-productRole__utils .launch-date {
    margin-top: 4px;
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
    background-color: antiquewhite;
}
.ec-productRole .ec-productRole__utils .sold-out {
    background-color: darkgrey;
}

/* .ec-productRole .cs-productRole__detail img {
    width: auto;
} */

/* .ec-productRole .cs-productRole__detail .blog-sales-letter img,
.ec-productRole .cs-productRole__detail .blog-manual img {
    width: auto;
} */

.ec-layoutRole__main #plg_customer_review_detail.review_detail_default .review-sortLayout {
    margin-bottom: 10px;
}

.ec-layoutRole__main #plg_customer_review_detail.review_detail_default .review-sortLayout .ec-inlineBtn--action {
    border-radius: 4px;
}

.ec-cartNaviIsset .ec-cartNaviIsset__cartContentNumber {
    display: none;
}

.affiliate-panel {
    margin: 100px auto 30px  ;
    border-radius: 6px;
    padding: 30px;
    background-color: floralwhite;
    box-shadow: 0 0 15px antiquewhite;
}

.affiliate-panel>.d-flex {
    align-items: center;
    justify-content: space-between;
}

.affiliate-panel .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.affiliate-panel .social-icons .icon {
    width: 34px;
    margin-right: 10px;
    align-items: center;
}

.affiliate-panel .affiliate-url {
    margin-top: 40px;
    position: relative;
}

.affiliate-panel .affiliate-url input {
    width: 100%;
    padding: 14px;
    outline: none;
    display: block;
    box-shadow: 0 3px 15px #d3dbe7;
    cursor: pointer;
    background-color: #fbfbff;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: gray;
}

.affiliate-panel .affiliate-url .copy-btn {
    width: 40px;
    position: absolute;
    top: 5px;
    right: 6px;
    background-color: #eaeaeb;
    font-size: 18px;
    padding: 6px 9px;
    border-radius: 5px;
    border: none;
    color: #6c6c6c;
    margin-left: -50px;
    transition: all .4s;
}

.affiliate-panel .affiliate-url .copy-btn:hover {
    transform: scale(1.2);
    color: #1a1a1a;
    cursor: pointer;
}
.affiliate-panel .affiliate-url .fa-copy {
    font-size: 20px;
}

.affiliate-panel .affiliate-url .copied {
    width: 286px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0 3px 15px #b8c6db;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background: aliceblue;
}

/* end blog detail */


/* start blog edit */

.error .trumbowyg-box .trumbowyg-editor {
    border: 1px solid #CF3F34;
    background: #FDF1F0;
}

.ec-editBlogRole .c-directoryTree--register.error {
    background: #FDF1F0;
}

.ec-editBlogRole .c-directoryTree--register.error .ec-errorMessage {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #DE5D50;
}

/* end blog edit */

/* start transfer history */
.cs-transfer__date {
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
}
.cs-transfer__date form {
    display: flex;
    align-items: center;
}

.cs-transfer__date form .cs-balance {
    margin-right: 15px;
    border-radius: 3px;
    padding: 10px;
    background: aliceblue;
}

.cs-transfer__date form input[type="month"] {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.cs-transfer__date .ec-blockBtn--action {
    width: 100px;
    height: 45px;
    margin-left: 15px;
    line-height: 45px;
    border-radius: 6px;
}

.cs-transfer__history table td {
    vertical-align: middle !important;
}

.cs-transfer__history span.label {
    color: black;
}

.cs-transfer__history span.price {
    width: 70px;
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    text-align: right;
}

.cs-transfer__history span.plus {
    margin-right: 5px;
    color: #0268cc;
    font-size: 16px;
    font-weight: bold;
}

.cs-transfer__history span.minus {
    margin-right: 5px;
    color: #f13018;
    font-size: 16px;
    font-weight: bold;
}

/* end transfer history */

/* start mypage */

.ec-mypageRole .blog-image img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

/* end mypage */

.ec-layoutRole .ec-layoutRole__contents {
    padding-bottom: 40px;
}

.cs-contentRole .cs-rank,
.cs-contentRole .cs-pickup {
    width: 350px;
}

.loading-icon {
    height: 64px;
    text-align: center;
}
.loading-icon img {
    height: 100%;
    width: auto;
}

.ec-blockTopBtn {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 15px #ddd;
    z-index: 1;
}

.ec-blockTopBtn img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .ec-newsRole {
        padding: 10px 0 70px;
    }
    .cs-contentRole {
        padding: 0 30px;
        z-index: 1000;
    }
    .cs-contentRole .cs-rank {
        margin-right: 40px;
    }

    /* start blog detail */
    .ec-productRole__contents {
        padding: 0 40px;
    }

    .ec-layoutRole__main #plg_customer_review_detail.review_detail_default {
        padding: 0 70px;
    }

    .affiliate-panel {
        width: 500px;
    }

    /* end blog detail */
    .ec-shelfGrid .cs-blogList__item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .ec-footerRole {
        padding-top: 5px;
        border-top: 1px solid #AAA;
        margin-top: 0;
        background: #DDD;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 100;
    }

    .ec-footerNavi {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .ec-footerNavi .ec-footerNavi__link {
        color: black;
        font-weight: bold;
    }
    .ec-blockTopBtn {
        width: 50px;
        height: 50px;
    }

    .pc-only {
        display: block;
    }
    .sp-only {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }

    .ec-headerNavSP {    
        box-shadow: 0 0 15px #ddd;
    }
    
    .ec-drawerRole {
        background: white;
    }
    
    .ec-drawerRole .ec-headerLinkArea .ec-headerLink__item,
    .ec-drawerRole .ec-headerSearch {
        color: black;
        background: white;
    }

    .ec-layoutRole .ec-layoutRole__contents {
        flex-wrap: wrap;
    }
    .ec-headerTitle .ec-headerTitle__title a {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ec-productRole .ec-productRole__title h2 {
        font-size: 24px;
        line-height: 35px;
    }

    .ec-productRole .cs-productRole__detail img {
        height: auto;
    }

    .ec-productRole .ec-productRole__utils .editor-name {
        font-size: 14px;
    }
    .ec-productRole .ec-productRole__utils .launch-date {
        font-size: 13px;
    }

    .ec-headerTitle__title .image {
        margin: 15px 0 10px;
    }
    .ec-productRole .image.top img {
        height: 300px;
    }
    .ec-layoutRole__main #plg_customer_review_detail.review_detail_default .review-sortLayout {
        padding: 8px;
    }
    .cs-contentRole {
        flex-wrap: wrap;
    }
    .cs-contentRole .cs-rank {
        margin: auto;
        order: 2;
    }
    .cs-contentRole .cs-pickup {
        margin: auto;
        order: 1;
    }
    .ec-shelfGrid .cs-blogList__item {
        margin: auto;
    }

    .affiliate-panel {
        width: 100%;
        margin-top: 60px;
        padding: 25px 15px;
    }
    .affiliate-panel .title {
        font-size: 16px;
        font-weight: bold;
    }
    .affiliate-panel .social-icons .icon {
        width: 25px;
    }
    .affiliate-panel .affiliate-url {
        margin-top: 30px;
    }
    /* .ec-layoutRole .ec-layoutRole__contents {
        padding-bottom: 250px;
    } */
    
    .blog .rank-icon {
        display: none;
    }
    .cs-transfer__date form .cs-balance {
        margin-right: 5px;
        border-radius: 3px;
        padding: 7px 9px;
        font-size: 14px;
    }
    .cs-transfer__date form input[type="month"] {
        width: 150px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 6px 5px;
        font-size: 14px;
    }
    .cs-transfer__date .ec-blockBtn--action {
        width: 80px;
        height: 35px;
        margin-left: 10px;
        line-height: 35px;
        border-radius: 3px;
    }
    .cs-transfer__history tbody tr td:last-child {
        width: 150px;
    }
    .cs-transfer__history span.label {
        padding: 0;
    }
    .cs-transfer__history span.price {
        width: 35px;
        margin-right: 5px;
    }
    .cs-transfer__history span.plus {
        font-size: 14px;
    }
    .ec-layoutRole__footer {
        display: none;
    }

    .ec-blockTopBtn {
        width: 40px;
        height: 40px;
    }

    .have_curtain .ec-overlayRole {
        z-index: 1;
    }

    /** start top sp page */
    /** end top sp page */

    /** start review list page */

    .ec-imageGrid.review-productLayout {
        width: 100%;
        display: block;
    }
    .ec-imageGrid.review-productLayout .ec-imageGrid__img {
        width: 150px;
        display: block;
    }
    .ec-imageGrid.review-productLayout .ec-imageGrid__content {
        display: block;
    }
    .ec-imageGrid.review-productLayout .review-layoutRole.list {
        display: block;
    }

    /** end review list page */

}

@media only screen and (max-width: 450px) {
    .ec-headerNaviRole .ec-headerNaviRole__left {
        width: calc(100% - 300px);
    }
    .ec-headerNaviRole .ec-headerNaviRole__right {
        width: 300px;
    }
    .ec-productRole .ec-productRole__utils .ec-productRole__btn .ec-blockBtn--action {
        width: 130px;
        height: 30px;
        line-height: 20px;    
        padding: 5px;
        font-size: 12px;
    }
    .ec-productRole .image.top {
        margin-top: 10px;
    }
    .ec-productRole .image.top img {
        height: auto;
    }
    .ec-productRole .ec-productRole__utils .affiliate {
        width: 155px;
        display: flex;
        flex-wrap: wrap;
    }
    .ec-productRole .ec-productRole__utils .label {
        padding: 7px 10px;
        font-size: 12px;
    }
    .ec-productRole .ec-productRole__utils .reviewList {
        font-size: 14px;
    }
    .ec-productRole .ec-productRole__utils .stock {
        margin-top: 5px;
    }
    .affiliate-panel .title {
        font-size: 15px;
    }
    .affiliate-panel .social-icons .icon {
        width: 22px;
    }
    .affiliate-panel .affiliate-url input {
        padding: 6px 8px;
        font-size: 13px;
    }
    .affiliate-panel .affiliate-url .copy-btn {
        width: 30px;
        padding: 3px;
        top: 0;
        right: 0;
    }
    .affiliate-panel .affiliate-url .copied {
        padding: 7px;
        font-size: 13px;
    }
}
